body{
    font-family: 'Garamond', serif;
    font-size: 1em;
}

iframe{
    height:400px;
}

.textOne {
    font-family: 'Garamond', serif;
}

body{
    font-family: 'Garamond', serif;
}

p{
    font-family: 'Garamond', serif;
    font-size:20px;
}

p2{
    font-family: 'Garamond', serif;
    font-weight: bold;
    font-size:28px;
    color: #201208;
}

h4{
    font-family: 'Garamond', serif;
    font-weight: bold;
    font-size:14px;
}

h2{
    font-family: 'Garamond', serif;
    font-weight: bold;
    font-size:28px;
    color: #201208;
}

h1{
    font-family: 'Garamond', serif;
    font-size:xx-small;
    color: #201208;
}

h3{
    font-family: 'Garamond', serif;
    font-size:x-small;
    color: #201208;
}

#mapid{
  width: 750px;
  height:500px;
}

.image-container {
    width: 500px;
    height: 300px;
    overflow: hidden;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}


.background-item{
    object-fit:cover ;
}

.author{
    font-family: 'Garamond', serif;
    font-size:xx-small;
    color: #201208;
}